<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>
  <link rel="stylesheet" href="/app.css">

  <style>
    body {
      height: 100%;
      overflow-y: hidden;
      margin: 0;
      padding: 0;
    }

    .carde {
      position: relative;
      background-image: url('/imgs/Chris-Bumstead-Bio.jpeg');
      background-size: cover;
      background-position: center;
      padding: 20px;
      border-radius: 8px;
      margin: 5vh auto;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
      width: 450px;
      height: 80vh;
      overflow-y: auto;
      border-top: 0.5px solid #D5C069;
    }

    .carde::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 8px;
    }

    .card-content {
      position: relative;
      z-index: 1;
    }

    .exercise {
      background: rgba(255, 255, 255, 0.2);
      margin-top: 10px;
      padding: 10px;
      border-radius: 5px;
      border-left: 5px solid #D5C069;
    }

    .workout-list,
    #workout-list {
      color: white;
    }

    .lesBoutons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 20px;
    }

    button {
      background-color: #D5C069;
      color: black;
      border: none;
      padding: 10px 20px;
      margin: 0 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.5s;
    }

    button:hover {
      background-color: #555;
      /* Slightly lighter on hover */
    }

    h1 {
      text-align: center;
      padding: 20px 0;
    }

    .tempsHeure{
      display: flex;
      justify-content: space-between;
    }

    .titre{
      color: #D5C069;
      font-family: 'Courier New', Courier, monospace;
    }

    .description{
      font-style: italic;
      text-align: center;
      font-size: small;
    }
  </style>

  <body>
    <div class="lesBoutons">
      <button onclick="location.href='?type=template'">Afficher Templates</button>
      <button onclick="location.href='?type=regular'">Afficher Réguliers</button>
    </div>

    <div id="workout-list">
      <% if (workouts.length> 0) { %>
        <% workouts.forEach(function(workout) { %>
          <div class="carde">
            <div class="card-content">
              <h2 class="titre">
                <%= workout.nom_workout %>
              </h2>
              <p class="description">
                <%= workout.desc_workout %>
              </p>
              <div class="tempsHeure">
                <p><%= workout.dureeSeconde_workout %>
                </p>
                <p>
                  <%= workout.date_workout%>
                </p>
              </div>
              
              <% if (workout.exercises && workout.exercises.length> 0) { %>
                <% workout.exercises.forEach(function(exercise) { %>
                  <div class="exercise">
                    <% if (exercise.series && exercise.series.length> 0) { %>
                      <% exercise.series.forEach(function(serie) { %>
                        <h3>
                          <%= serie.nom_exo %>
                        </h3>
                        <p>
                          <%= serie.reps %> répétitions, RPE: <%= serie.rpe %>
                        </p>
                        <% }); %>
                          <% } else { %>
                            <p>Aucune série trouvée pour cet exercice.</p>
                            <% } %>
                  </div>
                  <% }); %>
                    <% } else { %>
                      <p>Aucun exercice trouvé pour ce workout.</p>
                      <% } %>
            </div>

          </div>
          <% }); %>
            <% } else { %>
              <p>Aucun workout trouvé.</p>
              <% } %>
    </div>


  </body>

</html>