<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>
    <link rel="stylesheet" href="/app.css">


    <div class="side-bar">
        <a id="calendarIcon">
            <i class="fa-solid fa-calendar-days icons" style="color: #000000;" name="calendarIcon"></i>
            <span>Calendrier</span>
        </a>

        <a id="profileIcon">
            <i class="fa-solid fa-user icons" style="color: #000000;" name="profileIcon"></i>
            <span>Profile</span>
        </a>

        <a id="plusIcon">
            <i class="fa-sharp fa-solid fa-plus icons" style="color: #000000;" name="plusIcon"></i>
            <span>Entrainements</span>
        </a>

        <a href="/" id="exitIcon">
            <i class="fa-solid fa-right-from-bracket icons" style="color: #000000;" name="exitIcon"></i>
            <span>Acceuil</span>
        </a>


    </div>
    <div class="profile-page hidden">
        <style>
            .theme-yellow,
            .theme-black {
                padding: 10px;
                /* Augmente l'espace interne */
                margin-bottom: 10px;
                /* Espacement entre les containers */
            }

            .theme-yellow {
                background-color: #D5C069;
                color: black;
            }

            .theme-black {
                background-color: black;
                color: #D5C069;
            }

            .user-image {
                max-width: 100%;
                height: auto;
                object-fit: cover;
                /* Ajuste les proportions */
            }

            .row.align-items-stretch {
                display: flex;
                flex-wrap: wrap;
            }

            .btn-outline-light {
                background-color: #D5C069;
                /* Change background color */
                color: black;
                /* Change text color */
                /* Add more styles as needed */
            }
        </style>
        <div class="container mt-4">
            <div class="row align-items-stretch">
                <!-- Colonne pour les informations -->
                <div class="col-md-8">
                    <div class="row mb-2">
                        <div class="col-sm-2 theme-black">Id</div>
                        <div class="col-sm-4 theme-yellow">
                            <%= user._id %>
                        </div>
                    </div>
                    <!-- Répétez pour les autres lignes d'informations -->
                    <div class="row mb-2">
                        <div class="col-sm-2 theme-black">Nom</div>
                        <div class="col-sm-4 theme-yellow">
                            <%= user.nom %>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-2 theme-black">Prenom</div>
                        <div class="col-sm-4 theme-yellow">
                            <%= user.prenom %>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-2 theme-black">Courriel</div>
                        <div class="col-sm-4 theme-yellow">
                            <%= user.courriel %>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-2 theme-black">Generations Restantes</div>
                        <div class="col-sm-4 theme-yellow">
                            <%= user.gens %>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-2 theme-black">Abonnement</div>
                        <div class="col-sm-4 theme-yellow">
                            <%= abonnement.nom_Abonnement %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="/Abonnement">
                                <button class="btn btn-outline-light">Changer mon abonnement</button>
                            </a>

                        </div>
                    </div>
                </div>
                <!-- Colonne pour l'image, placée à la droite des détails -->
                <div class="col-md-4">
                    <img src="imgs/flexingMan.png" alt="Image Utilisateur" class="user-image">
                </div>
            </div>
        </div>
    </div>

    <div class="exercice-card hidden">
        <i class="fa-sharp fa-solid fa-plus icons" style="color: #000000;" name="plusIcon" id="NouvelEntrainement"></i>
    </div>
    <div class="Choisir-Entrainement hidden">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--ligne de code prise de
          https://www.w3schools.com/css/css_rwd_viewport.asp-->
        <style>
            .grid-container {
                width: 520px;
                /* Adjust as needed */
                height: 85%;
                /* Adjust as needed */
                margin-left: 50px;
                margin-top: 35px;
                overflow: auto;
            }

            .grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
            }

            .grid-item {
                width: 230px;
                height: 230px;
                border: 1px solid #ccc;
                border-radius: 8px;
                overflow: hidden;
            }

            .creeWorkoutCard {
                position: absolute;
                /* Position absolutely */
                top: 0;
                /* Align to the top of the container */
                margin-top: 6%;
                left: 750px;
                /* Adjust left position as needed */
                width: 40%;
                /* Set width */
                height: 80%;
                /* Set height */
                border: 1px solid #ccc;
                border-radius: 8px;
                overflow: hidden;
                z-index: 1;
                /* Ensure it's above other elements */

                /*MOMO RAAAAAAAH*/
                display: flex;
                flex-direction: column;
                /* Organize children vertically */
                align-items: center;
                /* Center children horizontally */
                justify-content: flex-start;
                /* Align children from top down */
                /*align-items: center;*/
            }


            .grid-item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .card-content {
                padding: 10px;
                color: #D5C069;
                text-align: center;
                font-family: sans-serif;
            }

            .entrPrefait {
                margin-left: 50px;
                color: white;
                font-family: sans-serif;
                font-size: 2rem;
                /* Adjust font size as needed */
                margin-bottom: 20px;
                /* Adjust spacing between title and grid */
                margin-top: 20px;
            }

            .entrCustom {
                margin-left: 750px;
                color: white;
                font-family: sans-serif;
                font-size: 2rem;
                position: fixed;
                top: 20px;
                /* Adjust font size as needed */

                /* Adjust spacing between title and grid */

            }

            .return-button {
                position: absolute;
                bottom: 10px;
                margin-left: 1275px;
                padding: 10px 20px;
                background-color: #D5C069;
                color: black;
                border: none;
                border-radius: 5px;
                transition: 0.5s;
                cursor: pointer;

            }

            .return-button:hover {
                background-color: #555;
            }

            .search-bar {
                position: absolute;


                /* Position 500px to the right of the grid */
                display: flex;
                align-items: center;
            }

            .search-bar input[type="text"] {
                padding: 5px;
                margin-right: 5px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .search-bar button {
                padding: 5px 10px;
                background-color: #D5C069;
                border: none;
                border-radius: 5px;
                color: black;
                cursor: pointer;
            }

            .vertical-line {
                position: absolute;
                top: 0;
                margin-left: 675px;
                width: 20px;
                height: 100%;
                background-color: #D5C069;
            }
        </style>
        <h3 class="entrPrefait">Nos entraînements prêts à l'emploi !</h3>
        <h3 class="entrCustom">Créez votre propre entraînement !</h3>
        <div id="WorkoutCreationCard" class="creeWorkoutCard">
            <div
                style="margin-top: 20px; display: flex; flex-direction: column; height: 20%; width: 100%; align-items: center;">
                <input type="text" id="titleWorkout" placeholder="Nouveau Entrainement" style="height: 50%; width: 80%; font-size: 
                xx-large; text-align: center; border: none; outline: none; background: transparent; color: wheat;">
                <textarea id="descWorkout" placeholder="Une description précise et motivante de l'entraînement!" style="
                margin-top: 7px;
                height: 50%; 
                width: 80%;
                resize: none; /* Disables resizing of the textarea */
                overflow: auto; /* Adds scrollbars if text overflows */
                border: none; /* Makes the border invisible */
                outline: none; /* Removes focus outline */
                background: transparent; /* Makes background transparent */
                padding: 0; /* Removes padding */
                box-sizing: border-box; /* Includes padding and border in width and height */
                white-space: pre-wrap; /* Ensures whitespace and new lines are preserved */
                color:white;
            " wrap="soft">
            </textarea>
            </div>
            <button id="AfficherSelectExo">AAAAAAAAAAA</button>

        </div>
        <div class="vertical-line"></div>
        <div class="grid-container">
            <div class="grid">
                <div class="grid-item">
                    <!-- <img src="https://via.placeholder.com/200x200" alt="Placeholder Image">-->
                    <div class="card-content">
                        <h3>Card 1</h3>
                        <p>Description of Card 1</p>
                    </div>
                </div>
                <div class="grid-item">
                    <!--<img src="https://via.placeholder.com/200x200" alt="Placeholder Image">-->
                    <div class="card-content">
                        <h3>Card 2</h3>
                        <p>Description of Card 2</p>
                    </div>
                </div>
                <div class="grid-item">
                    <!-- <img src="https://via.placeholder.com/200x200" alt="Placeholder Image">-->
                    <div class="card-content">
                        <h3>Card 3</h3>
                        <p>Description of Card 3</p>
                    </div>
                </div>
                <div class="grid-item">
                    <!--   <img src="https://via.placeholder.com/200x200" alt="Placeholder Image">-->
                    <div class="card-content">
                        <h3>Card 4</h3>
                        <p>Description of Card 4</p>
                    </div>
                </div>
                <div class="grid-item">
                    <!--   <img src="https://via.placeholder.com/200x200" alt="Placeholder Image">-->
                    <div class="card-content">
                        <h3>Card 5</h3>
                        <p>Description of Card 5</p>
                    </div>
                </div>
                <div class="grid-item">
                    <!--   <img src="https://via.placeholder.com/200x200" alt="Placeholder Image">-->
                    <div class="card-content">
                        <h3>Card 6</h3>
                        <p>Description of Card 6</p>
                    </div>
                </div>
                <div class="grid-item">
                    <!--  <img src="https://via.placeholder.com/200x200" alt="Placeholder Image">-->
                    <div class="card-content">
                        <h3>Card 7</h3>
                        <p>Description of Card 7</p>
                    </div>
                </div>
                <div class="grid-item">
                    <!--  <img src="https://via.placeholder.com/200x200" alt="Placeholder Image">-->
                    <div class="card-content">
                        <h3>Card 8</h3>
                        <p>Description of Card 8</p>
                    </div>
                </div>
                <div class="grid-item">
                    <!-- <img src="https://via.placeholder.com/200x200" alt="Placeholder Image">-->
                    <div class="card-content">
                        <h3>Card 9</h3>
                        <p>Description of Card 9</p>
                    </div>
                </div>
                <div class="grid-item">
                    <!--  <img src="https://via.placeholder.com/200x200" alt="Placeholder Image">-->
                    <div class="card-content">
                        <h3>Card 10</h3>
                        <p>Description of Card 10</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Return button -->
        <button class="return-button" onclick="hideChoisirEntrainement()">Retourner</button>
    </div>
    <div class="Chercher-Exercice hidden">
        <style>
            .searchBody {
                display: flex;
                flex-direction: row;
                /* Arrange children vertically */
                align-items: center;
                /* Center items horizontally within the container */
                justify-content: space-evenly;
                /* Distribute space evenly between children */
                width: 90%;
                /* Adjust width as needed */
                background-color: #333;
                /* Example background color */
                padding: 20px;
                border-radius: 10px;
                /* Rounded corners */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                /* Subtle shadow for better visibility */
                margin: auto;
                /* Center the searchBody horizontally and vertically if inside another flex container or full page */
            }

            .searchFactor {
                display: flex;
                flex-direction: row;
                margin-left: 10px;
                margin-bottom: 5px;
            }

            h4 {
                color: white;
                width: 120px;
            }

            p {
                color: white;
            }

            input {
                border-radius: 15px;
                margin-left: 5px;
            }

            button {
                border-radius: 15px;
                margin-left: 5px;
                height: 40px;
            }

            .searchFactors {
                display: flex;
                flex-direction: column;
            }
        </style>
        <div class="searchBody">
            <div class="searchFactors">
                <div class="searchFactor">
                    <h4>Muscle:</h4>
                    <input type="text" id="muscleInput">
                    <button id="searchButtonMuscle">Chercher</button>
                </div>
                <div class="searchFactor">
                    <h4>Nom:</h4>
                    <input type="text" id="nameInput">
                    <button id="searchButtonName">Chercher</button>
                </div>
            </div>
            <div class="results" id="results">
                <h4>Exercises trouvées:</h4>
                <div class="result" id="result" style="color:white"></div>
            </div>
        </div>
    </div>





    <script src="https://kit.fontawesome.com/df1a2f4d51.js" crossorigin="anonymous"></script>
    <script src="/app.js"></script>
    <script src="/creationTemplate.js"></script>

    <%- include ("../partials/footer.ejs") %>