<%- include ("../partials/header.ejs") %>
<style>
    .theme-yellow, .theme-black {
        padding: 10px; /* Augmente l'espace interne */
        margin-bottom: 10px; /* Espacement entre les containers */
    }
    .theme-yellow {
        background-color: #D5C069;
        color: black;
    }
    .theme-black {
        background-color: black;
        color: #D5C069;
    }
    .user-image { 
        max-width: 100%; 
        height: auto; 
        object-fit: cover; /* Ajuste les proportions */
    }
    .row.align-items-stretch {
        display: flex;
        flex-wrap: wrap;
    }
</style>
<div class="container mt-4">
    <div class="row align-items-stretch">
        <!-- Colonne pour les informations -->
        <div class="col-md-8">
            <div class="row mb-2">
                <div class="col-sm-2 theme-black">Id</div>
                <div class="col-sm-4 theme-yellow"><%= user._id %></div>
            </div>
            <!-- Répétez pour les autres lignes d'informations -->
            <div class="row mb-2">
                <div class="col-sm-2 theme-black">Nom</div>
                <div class="col-sm-4 theme-yellow"><%= user.nom %></div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-2 theme-black">Prenom</div>
                <div class="col-sm-4 theme-yellow"><%= user.prenom %></div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-2 theme-black">Courriel</div>
                <div class="col-sm-4 theme-yellow"><%= user.courriel %></div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-2 theme-black">Generations Restantes</div>
                <div class="col-sm-4 theme-yellow"><%= user.gens%></div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-2 theme-black">Abonnement</div>
                <div class="col-sm-4 theme-yellow"><%= abonnement.nom_Abonnement %></div>
            </div>
        </div>
        <!-- Colonne pour l'image, placée à la droite des détails -->
        <div class="col-md-4">
            <img src="imgs/flexingMan.png" alt="Image Utilisateur" class="user-image">
        </div>
    </div>
</div>
<%- include ("../partials/footer.ejs") %>
